.imageContainer {
	padding-top: 50px;
	position: relative;
}
.image_title {
	color: #fff;
}
.image {
	height: auto;
	max-width: 100%;
	border: 1px solid #ffffff;
	box-shadow: black 0px 3px 3px;
	border-radius: 5px;
}

/* @media screen and (max-width: 590px) {
	.image {
		max-width: 60%;
	}
} */
