.App {
	text-align: center;
}

.header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.image_row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}
